:root{
  --bs-bg-color:#fff;
  --js-bg-color:#F7CF69;
  --php-bg-color:#8893C0;
  --qa-bg-color:#52BF77;
  --java-bg-color:#E12B4C; 
  --net-bg-color:#642077;
  --events-bg-color:#2D99FF;
  --blog-bg-color:#0443A3;
  --contacts-bg-color:#00255F;
}
