*{
  box-sizing: border-box;
}

header{
  height: 70px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  display:flex;
  justify-content: space-between;
  align-items: center;
  animation: 1s linear 0s header-appearance;
  z-index: 1111;
}

.header-logo{
  margin-left: 10%;
  background: url('../files/logo.png') no-repeat;
  background-size: contain;
  width: 200px;
  height: 80%;
}

.bell-icon{
  height: 100%;
  width: 24px;
  fill: lightgrey;
  margin-right: 30px;
}

.right-side{
  margin-right: 10% ;
  display: flex;
  justify-content: center;
}

.round{
  border-radius: 50%;
}

.avatar{
  background-color: coral;
  height: 36px;
  width: 36px;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

.avatar span {
  color:#fff;
  font-weight: bolder;
  font-size: 1.5em;
}


#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggleBtn:checked ~ #menu{
  visibility: visible;
}

#menu{
  position: absolute;
  width: 150px;
  top: 50px;
  right: 0px;
  background: #fff;
  list-style-type: none;
  visibility: hidden;
  /* to stop flickering of text in safari */
}

.menu-wrapper{
  padding: 10px;
}

.menu-wrapper p{
  color:grey;
  text-align: center;
}

.bell-icon:hover{
  fill: grey;
  cursor: pointer;
}

.avatar:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

.main-layout{
  padding: 120px 10% 0 10%;
  background-color: #f8f9fc;
  
}

.content{
  width: 100%;
  height: -moz-calc(100vh - (70px + 50px));
  height: -webkit-calc(100vh - (70px + 50px));
  height: calc(100vh - (70px + 50px));
}

.cards-wrapper{
  width: 100%;
  height: 100%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(8,12.5%);
  grid-template-rows:repeat(8,12.5%) ;
}

.cards-wrapper > *{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
}

.item{
  position: relative;
}

.item-layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.item-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  text-indent: 10px;
  font-size: 2vw;
}

.item-bs{
  grid-column: 1/3;
  grid-row: 1/5;
  background-color: var(--bs-bg-color);
}

.item-js{
  grid-column: 3/5;
  grid-row: 1/7;
  position: relative;
  background-color: var(--js-bg-color);
}


.item-layer-js,
.item-layer-php{
  color: black;
}

.item-js:hover .item-layer-js {
  visibility: visible;
  opacity: 1;
}


.item-content p{
 padding: 20px;
 text-indent: 10px;
}

.item-content-js {
  transition: 1s;
}


.item-bs:hover .item-layer-bs {
  visibility: visible;
  opacity: 1;
  transform: rotateX(-180deg);
}


.item-php{
  grid-column: 5/9;
  grid-row: 1/4;
  background-color:  var(--php-bg-color);
}

.item-qa{
  grid-column: 1/3;
  grid-row: 5/9;
  background-color: var(--qa-bg-color);
  color: #fff;
}

.item-java{
  grid-column: 3/5;
  grid-row: 7/9;
  background-color: var(--java-bg-color);
}

.item-net{
  grid-column: 5/8;
  grid-row:4/9;
  background-color: var(--net-bg-color);
}

.item-events{
  grid-column: 8/9;
  grid-row: 4/6;
  background-color: var(--events-bg-color);
  font-size:  1rem;
}

.item-blog{
  grid-column: 8/9;
  grid-row: 6/8;
  background-color: var(--blog-bg-color);
}

.item-contacts{
  grid-column: 8/9;
  grid-row: 8/9;
  background-color: var(--contacts-bg-color);
}

.joinBtn{
  color:#fff;
  background-color: mediumblue;
  height: 40px;
  border:none;
  padding: 12px 28px;
  text-align: center;
  font-size: 16px;
}

.joinBtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contacts-icons{
  width: 24px;
  height: 24px;
}

.contacts-icons:hover{
  fill: lightskyblue;
}

footer{
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.flip-container{
  perspective: 1000px;
}

.flip-container:hover .flipper{
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
	height: 100%;
}

.flipper {
	transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.item-content-bs{
  display: flex;
  justify-content: center;
}

.front-qa {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(0deg);
}

.back-qa {
  background-color: #fff;
  color: black;
  font-size: 4vh;
  line-height: 1.2em;
  transform: rotateX(180deg);
}

.item-qa .flip-container:hover .flipper{
  transform: rotateX(180deg);
}

.item-layer-java1{
  opacity: 1;
}

.item-layer-java{
  display: flex;
  justify-content: center;
}

.item-content-java2{
  align-items: unset;
  justify-content: unset;
  font-size: 5vh;
}

.item-java:hover .item-content-java1{
  opacity: 0;
}


.item-java:hover .item-layer-java2{
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: white;
  color: black;
  transition-property: height,width,opacity,background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.item-layer-js1{
  opacity: 1;
}

.item-layer-js2{
  width: 100%;
  height: 0;
}

.item-content-js1{
  align-items: flex-end ;
  justify-content: flex-end;
  color:black;
  font-size: 20vh;
}

.item-content-js2{
  align-items: unset;
  justify-content: unset;
  font-size: 5vh;
}

.item-js:hover .item-content-js1{
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.item-js:hover .item-layer-js2{
  height: 100%;
  opacity: 1;
  background-color: white;
  color: black;
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.item-layer-php1{
  opacity: 1;
  background-color: var(--php-bg-color);
}

.item-layer-php2{
  width: 100%;
  height: 100%;
}

.item-content-php1{
  color:black;
  z-index: 2;
  font-size: 15vmin;
}

.item-content-php2{
  align-items: unset;
  justify-content: unset;
  font-size: 5vh;
}

.item-php:hover .item-layer-php1{
  width: 0%;
  transition: width 0.5s ease-out;
}

.item-php:hover .item-content-php1{
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.item-php:hover .item-layer-php2{
  opacity: 1;
  z-index:1;
  background-color: white;
  color: black;
}

.item-layer-net1{
  opacity: 1;
  background-color: var(--net-bg-color);
}

.item-layer-net2{
  width: 100%;
  height: 100%;
}

.item-content-net1{
  color:black;
  z-index: 2;
  font-size: 15vmin;
}

.item-content-net2{
  font-size: 5vmin;
  align-items: unset;
}

.item-net:hover .item-layer-net1{
  width: 0%;
  height: 0%;
  transition: all 0.5s;
}

.item-net:hover .item-content-net1{
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.item-net:hover .item-layer-net2{
  opacity: 1;
  z-index:1;
  background-color: white;
  color: black;
}

.item-events{
  overflow: hidden;
}

.item-layer-events1{
  opacity: 1;
  background-color: var(--events-bg-color);
}

.item-layer-events2{
  width: 100%;
  height: 100%;
}

.item-content-events1{
  z-index: 2;
  font-size: 5vmin;
}

.item-content-events2{
  font-size: 3vmin;
  overflow: auto;
  display: unset;
  padding: 5%;
}

.item-events:hover .item-layer-events1{
  overflow: hidden;
  transform: translate(100%,100%);
  transition: transform 0.7s ease-in-out;
}

.item-events:hover .item-content-events1{
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.item-events:hover .item-layer-events2{
  opacity: 1;
  z-index:1;
  background-color: white;
  color: black;
}

.item-blog{
  overflow: hidden;
}

.item-layer-blog1{
  opacity: 1;
  background-color: var(--blog-bg-color);
}

.item-layer-blog2{
  width: 100%;
  height: 100%;
}

.item-content-blog1{
  z-index: 2;
  font-size: 5vmin;
}

.item-content-blog2{
  font-size: 3vmin;
  overflow: auto;
  display: unset;
  padding: 5%;
}

.item-blog:hover .item-layer-blog1{
  overflow: hidden;
  transform: translate(0,-100%);
  transition: transform 0.7s steps(2) ;
}

.item-blog:hover .item-content-blog1{
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.item-blog:hover .item-layer-blog2{
  opacity: 1;
  z-index:1;
  background-color: white;
  color: black;
}

.item-contacts{
  overflow: hidden;
}

.item-layer-contacts1{
  opacity: 1;
  background-color: var(--contacts-bg-color);
}

.item-layer-contacts2{
  width: 100%;
  height: 100%;
}

.item-content-contacts1{
  z-index: 2;
  font-size: 5vmin;
}

.item-content-contacts2{
  font-size: 3vmin;
  overflow: auto;
  justify-content: space-around;
  padding: 5%;
}

.item-contacts:hover .item-layer-contacts1{
  overflow: hidden;
  transform: translate(100%,0);
  transition: transform 0.7s linear ;
}

.item-contacts:hover .item-content-contacts1{
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.item-contacts:hover .item-layer-contacts2{
  opacity: 1;
  z-index:1;
  background-color: white;
  color: black;
}

.notifiction-box{
  display: inline-block;
  position: fixed;
  right:  1%;
  bottom: 1%;
  z-index: 1200;
  opacity: 0.85;
  color:#fff;
  font-size: 1.1em;
}

.notification-item{
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top:5%;
  line-height: 1.2em;
  border-radius: 5%;
}

.notification-item-success{
  background-color: green;
}

.notification-item-error{
  background-color: red;
}

.notification-item-warning{
  background-color: orange;
}

.notification-item-icon{
  padding: 10px;
  fill:#fff;
}

.notification-item-text{
  padding: 10%;
  padding-left: 0;
}

.notification-header{
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}


@media all and (max-width:768px){
  .cards-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18,5.5%);
    grid-template-rows:repeat(16,6.25%) ;
  }

  .item-bs{
    grid-column: 1/9;
    grid-row: 1/9;
  }
  
  .item-js{
    grid-column: 9/14;
    grid-row: 1/9;
  }
  
  .item-php{
    grid-column: 10/19;
    grid-row: 9/13;
  }
  
  .item-qa{
    grid-column: 1/10;
    grid-row: 13/19;
  }
  
  .item-java{
    grid-column: 1/10;
    grid-row: 9/13;
  }
  
  .item-net{
    grid-column: 10/19;
    grid-row:13/19;
  }
  
  .item-events{
    grid-column: 14/19;
    grid-row: 1/4;
  }
  
  .item-blog{
    grid-column: 14/19;
    grid-row: 4/7;
  }
  
  .item-contacts{
    grid-column: 14/19;
    grid-row: 7/9;
  }

  .notification-item{
    width: 150px;
    right:  3%;
    bottom: 3%;
  }
}